# ğŸ“Œ ì¶”ì²œ ì‹œìŠ¤í…œ

## ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ (Content-Based Filtering)

## ì˜í™” ì¶”ì²œ
### ë°ì´í„°ì…‹: TMDB 5000 (https://www.kaggle.com/tmdb/tmdb-movie-metadata)

### ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ êµ¬í˜„ í”„ë¡œì„¸ìŠ¤  

1. ì½˜í…ì¸ ì— ëŒ€í•œ ì—¬ëŸ¬ í…ìŠ¤íŠ¸ ì •ë³´ë“¤ì„ í”¼ì³ ë²¡í„°í™”
2. ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¡œ ì½˜í…ì¸ ë³„ ìœ ì‚¬ë„ ê³„ì‚°
3. ì½˜í…ì¸  ë³„ë¡œ ê°€ì¤‘ í‰ì ì„ ê³„ì‚°
4. ìœ ì‚¬ë„ê°€ ë†’ì€ ì½˜í…ì¸  ì¤‘ì— í‰ì ì´ ì¢‹ì€ ì½˜í…ì¸  ìˆœìœ¼ë¡œ ì¶”ì²œ

---

## ğŸ¬ TMDB 5000 ì˜í™” ë°ì´í„°ì…‹ ì„¤ëª…

### TMDB_5000_credits.csv  

| í•„ë“œëª…      | ì„¤ëª…                                      |
|------------|-------------------------------------------|
| **movie_id** | ê° ì˜í™”ì˜ ê³ ìœ  ì‹ë³„ì                     |
| **cast**    | ì£¼ì—° ë° ì¡°ì—° ë°°ìš°ì˜ ì´ë¦„                   |
| **crew**    | ê°ë…, í¸ì§‘ì, ì‘ê³¡ê°€, ì‘ê°€ ë“±ì˜ ìŠ¤íƒœí”„ ì´ë¦„ |

---

### TMDB_5000_movies.csv

| í•„ë“œëª…                  | ì„¤ëª…                                      |
|------------------------|------------------------------------------|
| **budget**             | ì˜í™” ì œì‘ ì˜ˆì‚°                           |
| **genres**              | ì˜í™” ì¥ë¥´ (ì•¡ì…˜, ì½”ë¯¸ë””, ìŠ¤ë¦´ëŸ¬ ë“±)     |
| **homepage**           | ì˜í™” ê³µì‹ í™ˆí˜ì´ì§€ ë§í¬                  |
| **id**                 | `movie_id`ì™€ ë™ì¼í•œ ì˜í™”ì˜ ê³ ìœ  ì‹ë³„ì   |
| **keywords**           | ì˜í™”ì™€ ê´€ë ¨ëœ í‚¤ì›Œë“œ ë˜ëŠ” íƒœê·¸           |
| **original_language**  | ì˜í™”ì˜ ì›ì–´                               |
| **original_title**     | ë²ˆì—­ ë˜ëŠ” ê°ìƒ‰ ì´ì „ì˜ ì›ì œ               |
| **overview**           | ì˜í™”ì˜ ê°„ëµí•œ ì¤„ê±°ë¦¬                     |
| **popularity**         | ì˜í™”ì˜ ì¸ê¸°ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ìˆ˜ì¹˜            |
| **production_companies** | ì˜í™” ì œì‘ì‚¬                             |
| **production_countries** | ì˜í™”ê°€ ì œì‘ëœ êµ­ê°€                     |
| **release_date**       | ì˜í™” ê°œë´‰ ë‚ ì§œ                           |
| **revenue**            | ì „ ì„¸ê³„ì—ì„œ ë²Œì–´ë“¤ì¸ ìˆ˜ìµ                |
| **runtime**            | ì˜í™”ì˜ ì´ ìƒì˜ ì‹œê°„ (ë¶„ ë‹¨ìœ„)            |
| **status**             | ì˜í™”ì˜ ìƒíƒœ (`Released`, `Rumored`)      |
| **tagline**            | ì˜í™”ì˜ ëŒ€í‘œ ë¬¸êµ¬                         |
| **title**              | ì˜í™” ì œëª©                                |
| **vote_average**       | ì˜í™”ì˜ í‰ê·  í‰ì                         |
| **vote_count**         | ì˜í™”ê°€ ë°›ì€ ì´ íˆ¬í‘œ ìˆ˜                   |

---

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv('./data/tmdb/tmdb_5000_movies.csv')
print(f"Data Frame shape: {movies.shape}")
movies.head(1)

Data Frame shape: (4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [2]:
## ì¤‘ìš” ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
col_li = [
            'id',           # ì•„ì´ë””
            'title',        # ì˜í™” ì œëª©
            'genres',       # ì˜í™” ì¥ë¥´
            'vote_average', # ì˜í™”ì˜ í‰ê·  í‰ì 
            'vote_count',   # ì˜í™”ê°€ ë°›ì€ ì´ íˆ¬í‘œ ìˆ˜  
            'popularity',   # ì˜í™”ì˜ ì¸ê¸°ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ìˆ˜ì¹˜
            'keywords',     # ì˜í™”ì™€ ê´€ë ¨ëœ í‚¤ì›Œë“œ ë˜ëŠ” íƒœê·¸
            'overview']     #ì˜í™”ì˜ ê°„ëµí•œ ì¤„ê±°ë¦¬

movies_df = movies[col_li]

- genres, keywords ë“±ì€ ë¦¬ìŠ¤íŠ¸ ë‚´ì— ì—¬ëŸ¬ ê°œì˜ ì‚¬ì „ìœ¼ë¡œ ì´ë£¨ì–´ì§„ í˜•íƒœë¡œ ì…ë ¥ë˜ì–´ ìˆìŒ
- ê° ì¥ë¥´, í‚¤ì›Œë“œ ëª…ì¹­ì€ ì‚¬ì „ì˜ keyì¸ nameìœ¼ë¡œ ì¶”ì¶œ ê°€ëŠ¥

In [3]:
# ì»¬ëŸ¼ ê¸¸ì´ ëŠ˜ë ¤ì„œ ì¶œë ¥
pd.set_option('max_colwidth', 80)
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id..."

In [4]:
from ast import literal_eval

# DataFrameì˜ ìŠ¬ë¼ì´ìŠ¤ì—ì„œ ê°’ì„ ì§ì ‘ ìˆ˜ì •í• ë•Œ ë‚˜ì˜¤ëŠ” ê²½ê³  -> ë¬´ì‹œ

# ë¬¸ìì—´ì„ ê°ì²´ë¡œ ë³€ê²½: ë¦¬ìŠ¤íŠ¸ ë‚´ì˜ ì‚¬ì „
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [5]:
# ê°ì œì—ì„œ nameë§Œ ì¶”ì¶œ: ì‚¬ì „ ë§ˆë‹¤ nameì„ ì¶”ì¶œ
movies_df['genres'] = movies_df['genres'].apply(lambda x: [dic['name'] for dic in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [dic['name'] for dic in x])

In [6]:
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futu..."

ì¥ë¥´ ì½˜í…ì¸  í•„í„°ë§ì„ ì´ìš©í•œ ì˜í™” ì¶”ì²œ, ì¥ë¥´ ë¬¸ìì—´ì„ count ë°±í„°í™” í›„ì— ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¡œ ê° ì˜í™”ë¥¼ ë¹„êµ  
ì¥ë¥´ ë¬¸ìì—´ì˜ Countê¸°ë°˜ í”¼ì³ ë²¡í„°í™”

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizerë¥¼ ì ìš©í•˜ê¸° ìœ„í•´ ê³µë°±ë¬¸ìë¡œ word ë‹¨ìœ„ê°€ êµ¬ë¶„ë˜ëŠ” ë¬¸ìì—´ë¡œ ë³€í™˜.
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))

# CountVectorizer
count_vect = CountVectorizer(min_df=1, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

ì¥ë¥´ì— ë”°ë¥¸ ì˜í™”ë³„ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì¶”ì¶œ

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [9]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

íŠ¹ì • ì˜í™”ì™€ ì¥ë¥´ë³„ ìœ ì‚¬ë„ê°€ ë†’ì€ ì˜í™”ë¥¼ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ ìƒì„±

In [10]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):

    # ì¸ìë¡œ ì…ë ¥ëœ movies_df DataFrameì—ì„œ 'title' ì»¬ëŸ¼ì´ ì…ë ¥ëœ title_nameê°’ì¸ DataFrame ì¶”ì¶œ
    title_movie = df[df['title'] == title_name]

    # title_nameì„ ê°€ì§„ DataFrameì˜ index ê°¹ì²´ë¥¼ ndarrayë¡œ ë°˜í™˜, sorted_ind ì¸ìë¡œ ì…ë ¥ëœ genre_sim_sorted_ind ê°ì²´ì—ì„œ ìœ ì‚¬ë„ ìˆœìœ¼ë¡œ top_n ê°œì˜ index ì¶”ì¶œ
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]

    # ì¶”ì¶œëœ top_n indexë“¤ ì¶œë ¥. top_n indexëŠ” 2ì°¨ì› ë°ì´í„°
    # DataFrameì—ì„œ indexë¡œ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œ 1ì°¨ì› arrayë¡œ ë³€ê²½
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)

    return df.iloc[similar_indexes]

In [11]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

í‰ì ì´ ë†’ì€ ì˜í™” ì •ë³´ í™•ì¸

In [12]:
movies_df[['title','vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

í‰ê°€ íšŸìˆ˜ì— ëŒ€í•œ ê°€ì¤‘ì¹˜ ë¶€ì—¬ëœ í‰ì  (Weighted Rating) ê³„ì‚°


ê°€ì¤‘í‰ê· (Wighted Rating) = (v/(v+m)) * R +(m/(v+m)) * C


- v: ê°œë³„ ì˜í™”ì— í‰ì ì„ íˆ¬í‘œí•œ íšŸìˆ˜
- m : í‰ì ì„ ë¶€ì—¬í•˜ê¸° ìœ„í•œ ìµœì†Œ íˆ¬í‘œ íšŸìˆ˜
- R : ê°œë³„ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì 
- C : ì „ì²´ ì˜í™”ì— ëŒ€í•œ í‰ì

In [13]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:',round(C,3), 'm:',round(m,3))

C: 6.092 m: 370.2

In [14]:
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C )   

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [15]:
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [16]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):

    # ì…ë ¥í•œ ì˜í™”ì˜ index
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” ìŸë¥´ ìœ ì‚¬ì„±ì´ ë†’ì€ index ì¶”ì¶œ 
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    
# ê¸°ì¤€ ì˜í™” indexëŠ” ì œì™¸
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” í›„ë³´êµ°ì—ì„œ weighted_vote ë†’ì€ ìˆœìœ¼ë¡œ top_n ë§Œí¼ ì¶”ì¶œ 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [17]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427